.btn-tabla{
	margin-bottom: 5px;
	padding: 7px 14px;
	border-radius: 9px;
}

td.details-control {
	text-align:center;
	color: #8ab71e;
	cursor: pointer;
}

tr.shown td.details-control {
	text-align:center; 
	color:#ff3800;
}

#agregar{
	border-radius: 5px;
	border: 1.5px solid #6b8e19;
}

.selected{
	border-color: #8ab71e;
}

.sizing{
	height: 100%;
	width: 100%;
	border: solid;
	border-color: #2d4344;
}
.sizing.transparent{
	border-color: transparent;
}

#dz-area{
	border: 1px solid #d7dde4;
	cursor: pointer;
}

@media (min-width: 1700px){
	.btn-tabla {
	    margin-bottom: 0px;
	}
}

.btn.btn-success {
	background-color: #8ab71e;
	border: 1.5px solid #6b8e19; }
	.btn.btn-success:hover {
      background-color: #6b8e19;
      border: 1.5px solid #4a630f; }
    .btn.btn-success:focus, .btn.btn-success.focus {
      background-color: #6b8e19;
      border: 1.5px solid #4a630f;
}

.btn.btn-danger {
	background-color: #ff3800;
	border: 1.5px solid #b52902; }
	.btn.btn-danger:hover {
      background-color: #d6370a;
      border: 1.5px solid #a92c09; }
    .btn.btn-danger:focus, .btn.btn-danger.focus {
      background-color: #d6370a;
      border: 1.5px solid #a92c09;
}

@media (min-width: 1400px){
	.row {
	    margin-right: 15px;
	    margin-left: 15px;
	}
}
@media (min-width: 1700px){
	.row {
	    margin-right: -15px;
	    margin-left: -15px;
	}
}

.center-block{
	display: block;
	float: none;
	margin-left: auto;
	margin-right: auto;
}

table.dataTable thead th,table.dataTable thead td{
	padding: 8px;
}

.sidebar-li{
	width: 100%;
}

.button-link {
     background:none!important;
     color:inherit;
     border:none; 
     font: inherit;
     /*border is optional*/
     cursor: pointer;
     padding: 0px;
}

.no-margin{
	margin: 0px !important;
}

.btn_disabled{
	border: 1px red solid !important;
	color: red !important;
}

.remove {
	color: #DB0E1E;
}

.border-round{
	border-radius: 50px;
}

.logo-sidebar{
	width: 40px;
	height: 40px;
	margin-bottom: 33px;
}

.margin-left{
	margin-left: 4px !important;
}

.padding-right{
	padding-right: 4px !important;
}

.img-table{
	width: 100%;
	height: auto;
}

.sub-icon{
	margin-right: 10px;
}

.sidebar .nav > li > ul > li a {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	background-color: #2d4344;
}

.sidebar .nav > li.open > a {
	background-color: #2d4344; }

.sidebar .nav li a:hover,
.sidebar .nav li.open > a,
.sidebar .nav li.open a:hover {
	background-color: #27393a; 
}

.table th,
.table td {
  vertical-align: middle;
  text-overflow: ellipsis;
}

.title-margin{
	margin-top: 50px;
}

.font{
	font-family: 'Open Sans', sans-serif;
}