body{
  font-size: 1.04rem;
}

@media (min-width: 320px) {
  .fixed-top{
    position: relative;
  }

  .carousel-item.masthead{
    padding-top: 72%;
    padding-bottom: 0;
  }

  .logo{
    width: 140px;
  }

  .navbar{
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

@media (min-width: 992px) {
  .fixed-top{
    position: fixed;
  }

  .carousel-item.masthead{
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
  }

  .navbar{
    padding: .5rem 1rem;
  }
}

@media (min-width: 1200px) {
  .col-xl-15 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }

  .logo{
    width: 200px;
  }
}

.col-xl-15 {
    position: relative;
    min-height: 1px;
    padding-right: 20px;
    padding-left: 20px;
}

.text-d-green{
	color: #344e4f;
}

.carousel-indicators li {
    background: #fff;
}

.carousel-indicators .active {
    background: #8ab71e;
}

.carousel-control-prev:hover, .carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  color: #8ab71e;
  text-decoration: none;
  outline: 0;
  opacity: .7;
}

.container{
  padding-left: 30px;
  padding-right:30px;
}

.cert{
  width: 200px;
}

header.masthead {
  padding-top: 0;
  padding-bottom: 0;
}

.bg-primary {
  background-color: #8ab71e !important;
}

/* .bg-secondary {
  background-color: #8ab71e !important;
} */

.bg-dark {
  background-color: #344e4f !important;
}

.parallax {
  /* The image used */
  background-image: url('../img/header/bg-electric.jpg');

  /* Full height */
  /* height: 100%; */ 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
      background-attachment: scroll;
  }
}