a{
    color: #6b8e19;
}
a:hover{
    color: #4a630f;
}

a > hr {
    margin-top: 0px;
    margin-bottom: 0px;
}

.list-group-item {
    border: none;
}

.child{
    margin-left: 25px;
}

.sidebar{
    padding-bottom: 3rem;
}
